# Machine Learning Problem Set

## Assignment 4

Rishabh Kaushick <br>
NUID: 002808996 <br>
kaushick.r@northeastern.edu <br> <br>
December 1, 2023

In [19]:
# library imports
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import geopandas as gpd

In [20]:
# loading the datasets
master_data = pd.read_csv('data/churn_test/wls_churn_master_target_t1.csv')
demographic_data = pd.read_csv('data/churn_test/wls_customer_demographics_t1.csv')
billing_data = pd.read_csv('data/churn_test/wls_billing.csv')

## Exploratory Data Analysis

### Analyzing Dataset 1 - Master Data with Target Variable:

In [21]:
master_data.head()

,Customer_ID,mrc_current_month,mvsf_br_amt_current_month,mvsf_mrc_current_month,num_subs_current_month,num_voice_subs_current_month,num_nonvoice_subs_current_month,rev_current_month,churn
0,0,161.66,131.66,130.00,2,2,0,131.66,0.0
1,1,46.92,45.00,35.00,1,0,1,46.92,0.0
2,2,229.15,229.15,155.00,2,2,0,229.15,0.0
3,3,101.53,91.53,75.00,1,1,0,91.53,0.0
4,4,559.90,460.39,330.97,6,4,2,475.55,1.0

In [22]:
master_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9590 entries, 0 to 9589
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Customer_ID                      9590 non-null   int64
 1   mrc_current_month                9590 non-null   float64
 2   mvsf_br_amt_current_month        9581 non-null   float64
 3   mvsf_mrc_current_month           9590 non-null   float64
 4   num_subs_current_month           9590 non-null   int64
 5   num_voice_subs_current_month     9590 non-null   int64
 6   num_nonvoice_subs_current_month  9590 non-null   int64
 7   rev_current_month                9590 non-null   float64
 8   churn                            9590 non-null   float64
dtypes: float64(5), int64(4)
memory usage: 674.4 KB

In [23]:
master_data.columns

Index(['Customer_ID', 'mrc_current_month', 'mvsf_br_amt_current_month',
       'mvsf_mrc_current_month', 'num_subs_current_month',
       'num_voice_subs_current_month', 'num_nonvoice_subs_current_month',
       'rev_current_month', 'churn'],
      dtype='object')

From the above cells, we can see that there are a total of 9 colums. Each of them have either integer or floating point data values. However, many of the column names are not easy to understand.

The first feedback I would provide to my colleague is that while modelling the data, it would be better to create a data dictionary, or a file in which the column name is provided with the column description.

In [5]:
master_data['mvsf_br_amt_current_month'].isna().sum()

9

In [37]:
# this shows the records which are having a null value in one of the columns.
master_data[master_data.isna().any(axis=1)]

,Customer_ID,mrc_current_month,mvsf_br_amt_current_month,mvsf_mrc_current_month,num_subs_current_month,num_voice_subs_current_month,num_nonvoice_subs_current_month,rev_current_month,churn
549,549,35.0,NaN,35.0,1,0,1,0.0,0.0
1115,1115,185.0,NaN,185.0,3,2,1,150.0,0.0
1566,1566,35.0,NaN,35.0,1,0,1,0.0,0.0
1705,1705,35.0,NaN,35.0,1,0,1,0.0,0.0
3596,3596,35.0,NaN,35.0,1,0,1,0.0,0.0
4070,4070,35.0,NaN,35.0,1,0,1,0.0,0.0
4163,4163,75.0,NaN,75.0,1,1,0,75.0,0.0
5668,5668,35.0,NaN,35.0,1,0,1,0.0,0.0
6714,6714,35.0,NaN,35.0,1,0,1,0.0,0.0

As shown above, we can see that there are a total of 9 records with NaN value in the 'mvsf_br_amt_current_month' column.

Additionally I would like to ask more details to my colleague about the rows which have null records in mvsf_br_amt_current_month column. While modelling the data it would be better to understand the reason behind the null columns. This will also help us understand whether we can drop these rows, or the best way to fill those values.

### Analyzing Dataset 2 - Demographic Data

In [6]:
demographic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9590 entries, 0 to 9589
Data columns (total 93 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Customer_ID                                       9590 non-null   int64
 1   n_distinct_srvc_prov_state_cd_current_month       9590 non-null   int64
 2   n_distinct_sls_indust_typ_txt_current_month       9590 non-null   int64
 3   n_distinct_clli_exch_cd_current_month             9590 non-null   int64
 4   n_distinct_billg_prov_state_cd_current_month      9590 non-null   int64
 5   n_distinct_pymt_mthd_cd_current_month             9590 non-null   int64
 6   n_distinct_rgnl_cust_prov_state_cd_current_month  9590 non-null   int64
 7   n_distinct_cbu_cust_prov_state_cd_current_month   9590 non-null   int64
 8   srvc_prov_state_cd_ab_ind_current_month           9590 non-null   int64
 9   srvc_prov_state_cd_bc_ind_current_month           9590 non-null   int64
 10  srvc_prov_state_cd_mb_ind_current_month           9590 non-null   int64
 11  srvc_prov_state_cd_nb_ind_current_month           9590 non-null   int64
 12  srvc_prov_state_cd_nl_ind_current_month           9590 non-null   int64
 13  srvc_prov_state_cd_ns_ind_current_month           9590 non-null   int64
 14  srvc_prov_state_cd_nt_ind_current_month           9590 non-null   int64
 15  srvc_prov_state_cd_nu_ind_current_month           9590 non-null   int64
 16  srvc_prov_state_cd_on_ind_current_month           9590 non-null   int64
 17  srvc_prov_state_cd_pe_ind_current_month           9590 non-null   int64
 18  srvc_prov_state_cd_qc_ind_current_month           9590 non-null   int64
 19  srvc_prov_state_cd_sk_ind_current_month           9590 non-null   int64
 20  srvc_prov_state_cd_yt_ind_current_month           9590 non-null   int64
 21  billg_prov_state_cd_ab_ind_current_month          9590 non-null   int64
 22  billg_prov_state_cd_bc_ind_current_month          9590 non-null   int64
 23  billg_prov_state_cd_mb_ind_current_month          9590 non-null   int64
 24  billg_prov_state_cd_nb_ind_current_month          9590 non-null   int64
 25  billg_prov_state_cd_nl_ind_current_month          9590 non-null   int64
 26  billg_prov_state_cd_ns_ind_current_month          9590 non-null   int64
 27  billg_prov_state_cd_nt_ind_current_month          9590 non-null   int64
 28  billg_prov_state_cd_nu_ind_current_month          9590 non-null   int64
 29  billg_prov_state_cd_on_ind_current_month          9590 non-null   int64
 30  billg_prov_state_cd_pe_ind_current_month          9590 non-null   int64
 31  billg_prov_state_cd_qc_ind_current_month          9590 non-null   int64
 32  billg_prov_state_cd_sk_ind_current_month          9590 non-null   int64
 33  billg_prov_state_cd_yt_ind_current_month          9590 non-null   int64
 34  rgnl_cust_prov_state_cd_ab_ind_current_month      9590 non-null   int64
 35  rgnl_cust_prov_state_cd_bc_ind_current_month      9590 non-null   int64
 36  rgnl_cust_prov_state_cd_mb_ind_current_month      9590 non-null   int64
 37  rgnl_cust_prov_state_cd_nb_ind_current_month      9590 non-null   int64
 38  rgnl_cust_prov_state_cd_nl_ind_current_month      9590 non-null   int64
 39  rgnl_cust_prov_state_cd_ns_ind_current_month      9590 non-null   int64
 40  rgnl_cust_prov_state_cd_nt_ind_current_month      9590 non-null   int64
 41  rgnl_cust_prov_state_cd_nu_ind_current_month      9590 non-null   int64
 42  rgnl_cust_prov_state_cd_on_ind_current_month      9590 non-null   int64
 43  rgnl_cust_prov_state_cd_pe_ind_current_month      9590 non-null   int64
 44  rgnl_cust_prov_state_cd_qc_ind_current_month      9590 non-null   int64
 45  rgnl_cust_prov_state_cd_sk_ind_current_month      9590 non-null   int64
 46  rgnl_cust_prov_state_cd_yt_ind_current_month      9590 non-null   int64
 47  cbu_cust_prov_state_cd_ab_ind_current_month       9590 non-null   int64
 48  cbu_cust_prov_state_cd_bc_ind_current_month       9590 non-null   int64
 49  cbu_cust_prov_state_cd_mb_ind_current_month       9590 non-null   int64
 50  cbu_cust_prov_state_cd_nb_ind_current_month       9590 non-null   int64
 51  cbu_cust_prov_state_cd_nl_ind_current_month       9590 non-null   int64
 52  cbu_cust_prov_state_cd_ns_ind_current_month       9590 non-null   int64
 53  cbu_cust_prov_state_cd_nt_ind_current_month       9590 non-null   int64
 54  cbu_cust_prov_state_cd_nu_ind_current_month       9590 non-null   int64
 55  cbu_cust_prov_state_cd_on_ind_current_month       9590 non-null   int64
 56  cbu_cust_prov_state_cd_pe_ind_current_month       9590 non-null   int64
 57  cbu_cust_prov_state_cd_qc_ind_current_month       9590 non-null   int64
 58  cbu_cust_prov_state_cd_sk_ind_current_month       9590 non-null   int64
 59  cbu_cust_prov_state_cd_yt_ind_current_month       9590 non-null   int64
 60  pymt_mthd_cd_cc_ind_current_month                 9590 non-null   int64
 61  pymt_mthd_cd_dd_ind_current_month                 9590 non-null   int64
 62  pymt_mthd_cd_int_ind_current_month                9590 non-null   int64
 63  pymt_mthd_cd_inv_ind_current_month                9590 non-null   int64
 64  pymt_mthd_cd_net_30_ind_current_month             9590 non-null   int64
 65  pymt_mthd_cd_othr_ind_current_month               9590 non-null   int64
 66  pymt_mthd_cd_phb_ind_current_month                9590 non-null   int64
 67  pymt_mthd_cd_pre_ind_current_month                9590 non-null   int64
 68  pymt_mthd_cd_sub_ind_current_month                9590 non-null   int64
 69  pymt_mthd_cd_tbsabem_ind_current_month            9590 non-null   int64
 70  pymt_mthd_cd_tbsabpr_ind_current_month            9590 non-null   int64
 71  pymt_mthd_cd_tbsbbem_ind_current_month            9590 non-null   int64
 72  pymt_mthd_cd_tbsbbpr_ind_current_month            9590 non-null   int64
 73  pymt_mthd_cd_tbsobem_ind_current_month            9590 non-null   int64
 74  pymt_mthd_cd_tbsobma_ind_current_month            9590 non-null   int64
 75  pymt_mthd_cd_tbsobme_ind_current_month            9590 non-null   int64
 76  pymt_mthd_cd_tbsobpr_ind_current_month            9590 non-null   int64
 77  pymt_mthd_cd_tbsobsb_ind_current_month            9590 non-null   int64
 78  pymt_mthd_cd_tbsobsh_ind_current_month            9590 non-null   int64
 79  pymt_mthd_cd_tbsoothr_ind_current_month           9590 non-null   int64
 80  pymt_mthd_cd_tbsqbem_ind_current_month            9590 non-null   int64
 81  pymt_mthd_cd_tbsqbma_ind_current_month            9590 non-null   int64
 82  pymt_mthd_cd_tbsqbpr_ind_current_month            9590 non-null   int64
 83  pymt_mthd_cd_tbsqbsb_ind_current_month            9590 non-null   int64
 84  pymt_mthd_cd_tbsqbsh_ind_current_month            9590 non-null   int64
 85  pymt_mthd_cd_tcso_ind_current_month               9590 non-null   int64
 86  pymt_mthd_cd_tcsobpr_ind_current_month            9590 non-null   int64
 87  pymt_mthd_cd_tcsoothr_ind_current_month           9590 non-null   int64
 88  pymt_mthd_cd_tcsqothr_ind_current_month           9590 non-null   int64
 89  pymt_mthd_cd_teso_ind_current_month               9590 non-null   int64
 90  pymt_mthd_cd_tesobsb_ind_current_month            9590 non-null   int64
 91  pymt_mthd_cd_tesoothr_ind_current_month           9590 non-null   int64
 92  pymt_mthd_cd_tpsoothr_ind_current_month           9590 non-null   int64
dtypes: int64(93)
memory usage: 6.8 MB

From the above, we can see that there are a total of 92 columns in the demographic dataset. This is too many columns which would make the model extremely complex.

Even in the demographic dataset, the column names are difficult to interpret.

In [26]:
demographic_data.head(10)

,Customer_ID,n_distinct_srvc_prov_state_cd_current_month,n_distinct_sls_indust_typ_txt_current_month,n_distinct_clli_exch_cd_current_month,n_distinct_billg_prov_state_cd_current_month,n_distinct_pymt_mthd_cd_current_month,n_distinct_rgnl_cust_prov_state_cd_current_month,n_distinct_cbu_cust_prov_state_cd_current_month,srvc_prov_state_cd_ab_ind_current_month,srvc_prov_state_cd_bc_ind_current_month,...,pymt_mthd_cd_tbsqbsb_ind_current_month,pymt_mthd_cd_tbsqbsh_ind_current_month,pymt_mthd_cd_tcso_ind_current_month,pymt_mthd_cd_tcsobpr_ind_current_month,pymt_mthd_cd_tcsoothr_ind_current_month,pymt_mthd_cd_tcsqothr_ind_current_month,pymt_mthd_cd_teso_ind_current_month,pymt_mthd_cd_tesobsb_ind_current_month,pymt_mthd_cd_tesoothr_ind_current_month,pymt_mthd_cd_tpsoothr_ind_current_month
0,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,5,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,6,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,7,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,8,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,9,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Analyzing Dataset 3 - Billing Data

In [27]:
billing_data.head(10)

,Customer_ID,write_off_ind_n_ind_current_month,write_off_ind_y_ind_current_month,payment_method_cd_c_ind_current_month,payment_method_cd_ca_ind_current_month,payment_method_cd_cc_ind_current_month,payment_method_cd_d_ind_current_month,payment_method_cd_dd_ind_current_month,payment_method_cd_r_ind_current_month,kb_payment_method_cd_c_ind_current_month,kb_payment_method_cd_d_ind_current_month,kb_payment_method_cd_r_ind_current_month,auto_payment_method_cd_ca_ind_current_month,auto_payment_method_cd_cc_ind_current_month,auto_payment_method_cd_dd_ind_current_month,kb_auto_payment_method_cd_c_ind_current_month,kb_auto_payment_method_cd_d_ind_current_month,kb_auto_payment_method_cd_r_ind_current_month
0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0
1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1
3,3,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1
4,4,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1
5,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,6,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,7,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0
8,8,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,9,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1

In [25]:
billing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9590 entries, 0 to 9589
Data columns (total 18 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Customer_ID                                    9590 non-null   int64
 1   write_off_ind_n_ind_current_month              9590 non-null   int64
 2   write_off_ind_y_ind_current_month              9590 non-null   int64
 3   payment_method_cd_c_ind_current_month          9590 non-null   int64
 4   payment_method_cd_ca_ind_current_month         9590 non-null   int64
 5   payment_method_cd_cc_ind_current_month         9590 non-null   int64
 6   payment_method_cd_d_ind_current_month          9590 non-null   int64
 7   payment_method_cd_dd_ind_current_month         9590 non-null   int64
 8   payment_method_cd_r_ind_current_month          9590 non-null   int64
 9   kb_payment_method_cd_c_ind_current_month       9590 non-null   int64
 10  kb_payment_method_cd_d_ind_current_month       9590 non-null   int64
 11  kb_payment_method_cd_r_ind_current_month       9590 non-null   int64
 12  auto_payment_method_cd_ca_ind_current_month    9590 non-null   int64
 13  auto_payment_method_cd_cc_ind_current_month    9590 non-null   int64
 14  auto_payment_method_cd_dd_ind_current_month    9590 non-null   int64
 15  kb_auto_payment_method_cd_c_ind_current_month  9590 non-null   int64
 16  kb_auto_payment_method_cd_d_ind_current_month  9590 non-null   int64
 17  kb_auto_payment_method_cd_r_ind_current_month  9590 non-null   int64
dtypes: int64(18)
memory usage: 1.3 MB

From the above columns in the dataset, we can see that multiple columns have a similar name:
1. write off ind:
    - write_off_ind_**n_ind**_current_month
    - write_off_ind_**y_ind**_current_month
2. payment_method_cd
    - payment_method_cd_**c_ind**_current_month
    - payment_method_cd_**ca_ind**_current_month
    - payment_method_cd_**cc_ind**_current_month
    - payment_method_cd_**d_ind**_current_month
    - payment_method_cd_**dd_ind**_current_month
    - payment_method_cd_**r_ind**_current_month
3. kb_payment_method_cd
    - kb_payment_method_cd_**c_ind**_current_month
    - kb_payment_method_cd_**d_ind**_current_month
    - kb_payment_method_cd_**r_ind**_current_month
4. ...
<br> <br>
We can see that the text in bold is the one which is changing. We can take an educated guess and say that ind stands for indicator. Since we can see that the values of all these columns are either 0 and 1, it looks like it is one hot encoded.

### Merging All Three Data Frames

In [39]:
# Using the merge function to combine the master data and demographic data on primary key - Customer ID column using an outer join.
master_data = master_data.merge(demographic_data, on=['Customer_ID'], how='outer')

In [40]:
# Similarly merging master data and billing data
master_data = master_data.merge(billing_data, on=['Customer_ID'], how='outer')

In [41]:
master_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9590 entries, 0 to 9589
Columns: 118 entries, Customer_ID to kb_auto_payment_method_cd_r_ind_current_month
dtypes: float64(5), int64(113)
memory usage: 8.6 MB

### Correlation

### Chi Square

## Splitting the Dataset into Train & Test